@charset "utf-8";
/* CSS Document */
 
body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  font-family: Arial, sans-serif;
  color: #444;
  max-width: 1366px;
  margin: auto;
  font-size: 100%;
  line-height: 1.9;
  box-shadow: 0px 0px 13px -10px #121;
}

a, a:visited {
  color: #0000ff;
  text-decoration: underline;
}

a:hover {
  color: #ff0000;
  text-decoration: none;
}

h1 {
  margin-top: 5px;
  color: #676677;
  font-weight: 500;
  font-size: 160%;
}

h2 {
  font-size: 140%;
  color: #676677;
  font-weight: 500;
}

h3 {
  font-size: 130%;
  color: #676677;
  font-weight: 500;
}

.hdr {
  background: #fff;
  max-width: 100%;
  background: #FFF url(img/l424.jpg) repeat-x;
  display: flex;
  justify-content: space-between;
  line-height: 1;
}

.hdr_1 {
  display: flex;
  align-items: center;
}

.icon, .icon2 {
  display: none;
  margin: auto;
  margin-right: 0;
  cursor: pointer;
  font-size: 26px;
}

.logotip {
  min-width: 110px;
  margin-left: 68px;
  margin-top: -15px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 21px;
  color: #666 !important;
  letter-spacing: 2px;
  line-height: 1.2;
  text-decoration: none;
  text-align: center;
}

.srch_icn {
  display: none;
}

.poisk {
  margin-top: 23px;
  width: 300px;
}

.hdr_2 {
  display: flex;
  justify-content: flex-end;
  align-items: top;
}

.avtobox img {
  height: 90px;
  margin-top: -7px;
}

.psvd2 {
  width: 170px;
}

nav {
  display: flex;
  margin-top: 20px;
}

.menu_odin {
  text-align: center;
  height: auto;
  margin: auto;
  white-space: nowrap;
}

.menu_odin a {
  padding: 14px 14px;
  font-size: 95%;
}

.line {
  max-width: 95%;
  padding: 0;
  height: 0;
  border: none;
  border-top: 1px dotted #baccab;
  margin: auto;
  margin-top: 0;
}

.psvd3 {
  width: 220px;
}

/* ПРАВОЕ МЕНЮ */
.menu_dva {
  background-color: #fff;
  flex: 0 0 290px;
  min-width: 290px;
  max-width: 290px;
  text-align: left;
  box-sizing: border-box;
  padding: 5px;
  margin-top: 25px;
}

.menu_dva a {
  display: inline-table;
  text-align: left;
  line-height: 1;
  margin-bottom: 6px;
  font-size: 95%;
  margin-left: 5px;
}
 
 /* КОНТЕНТ */
 
.content {
  display: flex;
}

main {
  flex-basis: 100%;
  box-sizing: border-box;
  padding: 15px;
  text-align: center;
}

.main table {
  margin: auto;
  line-height: }

.main img {
  max-width: 100%;
}

/* ОФОРМЛЕНИЕ */
 
.tble_rspn {
  width: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  margin: auto;
}

.tble_rspn p {
  margin: 0;
}

.tble_rspn td {
  padding: 0 7px 0 7px;
}

.tble_rspn  table {
border-collapse:collapse
}

.стиль1 {
  font-size: 24px;
  color: #666666;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.стиль3 {
  font-size: 21px;
}

/* ПОДВАЛ  */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #CCC;
  height: 55px;
}

.pdvl {
  margin-right: 300px;
  font-size: 75%;
  letter-spacing: 4px;
  color: #fff;
  text-align: center;
  line-height: 1.3;
}

.pdvl  img {
  height: 22px;
}

@media screen and (max-width : 926px) {
 
  .icon {
    margin-left: 15px;
    display: inline;
    color: #505050;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  .logotip {
    margin-left: 31px;
    margin-top: -10px;
  }

  .poisk {
    width: 270px;
  }

  .menu_odin {
    display: none;
  }

  .psvd2 {
    width: 100px;
  }

  nav {
    width: 300px;
    max-width: 300px;
    height: auto;
    position: absolute;
    left: 0;
    margin-top: auto;
  }

  .menu_odin {
    padding-left: 0;
    white-space: normal;
  }

  .menu_odin.responsive {
    background-image: none;
    display: block;
    left: 0;
    top: 0;
    line-height: 1.1;
    position: absolute;
    z-index: 9999;
    width: 270px;
    max-width: 270px;
    background-color: #fbFeff;
    padding-top: 15px;
    padding-bottom: 15px;
    border: #DDD 1px solid;
    border-left: 0;
    box-shadow: 3px 3px 5px -4px #989;
    box-sizing: border-box;
  }

  .menu_odin.responsive a {
    font-size: 100%;
    font-weight: bold;
    float: none;
    display: table;
    text-align: left;
    margin-left: 40px;
  }

  .line, .r, .psvd3 {
    display: none;
  }

  .mute.responsive, .main.responsive {
    pointer-events: none;
    opacity: 0.3;
  }

  .main img {
    max-width: 100%;
    height: auto !important;
  }
}

@media screen and (max-width : 925px) {
  
  .hdr {
    box-shadow: 0 0 3px 0;
    height: 70px;
  }

  .logotip {
    margin-top: 5px;
  }

  .poisk {
    width: 250px;
    margin-top: 20px;
  }

  .avtobox img {
    height: 75px;
    margin-top: -3px;
  }

  .psvd2 {
    width: 60px;
  }

  .icon2 {
    margin-right: 18px;
    display: inline;
    color: #505050;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  a {
    text-decoration: none;
  }

  .content {
    display: block;
  }

  .main a {
    text-decoration: underline;
  }
 
 /* ПРАВОЕ МЕНЮ */
  .menu_dva {
    width: 0;
    display: none;
  }

  .menu_dva.responsive {
    display: block;
    position: absolute;
    z-index: 9999;
    width: 335px;
    max-width: 99%;
    right: 0;
    top: -20px;
    background-color: #fefefe;
    padding-bottom: 25px;
    padding-top: 26px;
    border: #cddddd 1px solid;
    border-right: none;
    box-sizing: border-box;
    box-shadow: -3px 3px 5px -4px #989;
  }

  .menu_dva.responsive a {
    display: inline-table;
    line-height: 1;
    text-align: left;
    margin-left: 20px;
    margin-bottom: 17px;
    font-size: 100%;
  }

  
 /* КОНТЕНТ */
  .content {
    display: block;
    position: relative;
  }

  .main {
    text-align: center;
    width: 100%;
    box-sizing: border-box;
  }

  .pdvl {
    margin-right: 0;
  }
}

@media screen and (max-width : 820px) {

  .hdr {
    height: 70px;
  }

  .avtobox {
    display: none;
  }

  .center {
    margin-left: auto;
    margin-right: auto;
  }

  .poisk {
    margin-top: 20px;
  }
}

@media screen and (max-width : 640px) {
 
  .hdr {
    position: relative;
    height: 65px;
  }

  .logotip {
    min-width: 100px;
    font-size: 19px;
  }

  .center {
    width: 100%;
    display: flex;
    margin-right: auto;
    justify-content: flex-end;
    align-items: center;
    padding-right: 27px;
  }

  .poisk {
    display: none;
    margin: 0;
  }

  .psvd2 {
    display: none;
  }

  #menu3 {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    cursor: pointer;
  }

  .srch_icn {
    display: block;
    height: 25px;
  }

  .poisk.responsive {
    width: 77%;
    position: absolute;
    display: block;
    background-color: #fff;
    border: 1px #ccc solid;
    padding: 7px 5px 4px 5px;
    box-shadow: 0px 0px 8px -3px #6683ce;
    top: 53px;
    right: 40px;
    z-index: 99;
  }

  h1 {
    font-size: 170%;
    line-height: 1.5;
  }

  .pdvl {
    letter-spacing: 2px;
  }

  .pdvl img {
    height: 17px;
  }
}

@media screen and (max-width : 310px) {
  nav {
    max-width: 80%;
  }
}

.blok1 {margin:auto; margin-top:20px; margin-bottom: 20px;}
  .rek1 {margin:auto; max-width: 728px; }
.blok2 {margin:auto; margin-top: 26px; margin-bottom:20px; max-width:91%;  }
.blok3 {margin:auto; margin-top:20px;  max-width: 728px;  }
  .rek3 {margin:auto; max-width: 728px;}
@media (min-width:800px) { .rek1 {margin:auto; max-width:728px; height: 90px; } .blok2 {max-width:730px }}
